.asset-4-1 {
  height: 256px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 41px;
  width: 269px;
}
.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 603px;
  width: 299px;
}
.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  margin-top: 105px;
  min-height: 533px;
  width: 523px;
}
.flex-row {
  align-items: center;
  display: flex;
  margin-left: 4px;
  margin-top: 2px;
  min-width: 337px;
}
.flex-row-1 {
  align-items: center;
  display: flex;
  margin-left: 4px;
  margin-top: 6px;
  min-width: 510px;
}
.frame-2 {
  align-items: flex-start;
  background-color: var(--onahau);
  display: flex;
  height: 689px;
  padding: 0 43px;
  width: 942px;
}
.gi-phn-hi {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 7px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 4px;
  width: 147px;
}
.gi-phn-nh {
  height: 52px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 295px;
}
.group {
  align-items: flex-start;
  display: flex;
  height: 22px;
  left: 49px;
  min-width: 26px;
  opacity: 0.3;
  position: absolute;
  top: 104px;
}
.group-1 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  left: 86px;
  min-width: 27px;
  opacity: 0.5;
  position: absolute;
  top: 104px;
}
.ni-dung-phn-nh {
  height: 52px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 0px;
  width: 295px;
}
.overlap-group {
  align-self: center;
  height: 52px;
  margin-right: 10.0px;
  margin-top: 34px;
  position: relative;
  width: 295px;
}
.overlap-group-1 {
  height: 23px;
  margin-top: -0.65px;
  position: relative;
  width: 28px;
}
.overlap-group1 {
  height: 238px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 523px;
}
.overlap-group10 {
  height: 238px;
  margin-top: 7px;
  position: relative;
  width: 523px;
}
.overlap-group2 {
  height: 82px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 341px;
}
.overlap-group3 {
  height: 519px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 274px;
}
.overlap-group4 {
  height: 33px;
  position: relative;
  width: 178px;
}
.overlap-group5 {
  height: 257px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 269px;
}
.overlap-group8 {
  align-self: flex-end;
  height: 519px;
  margin-top: 51px;
  position: relative;
  width: 289px;
}
.overlap-group9 {
  height: 82px;
  position: relative;
  width: 341px;
}
.rectangle-5 {
  height: 81px;
  left: 0px;
  position: absolute;
  top: 75px;
  width: 521px;
}
.rectangle-5-1 {
  background-color: var(--green-blue);
  border-radius: 30px;
  height: 42px;
  left: 38px;
  position: absolute;
  top: 5px;
  width: 217px;
}
.rectangle-6 {
  height: 28px;
  margin-top: 11px;
  width: 521px;
}
.span0 {
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-weight: 700;
}
.span1 {
  color: rgba(204,111,101,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-weight: 700;
}
.text-1 {
  height: 41px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 317px;
  width: 274px;
}
.text-2 {
  height: 36px;
  left: 31px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 46px;
  width: 310px;
}
.text-3 {
  height: 36px;
  letter-spacing: 0.00px;
  margin-left: 9px;
  min-height: 36px;
  width: 310px;
}
.text-4 {
  height: 36px;
  left: 32px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 0px;
  width: 310px;
}
.text-5 {
  height: 37px;
  letter-spacing: 0.00px;
  margin-left: 10px;
  min-height: 37px;
  width: 482px;
}
.text-6 {
  height: 52px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 30px;
  width: 295px;
}
.text-7 {
  height: 40px;
  left: 12px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 372px;
  width: 259px;
}
.text-8 {
  color: rgba(26,60,71,0.24);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  left: 11px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 91px;
  width: 512px;
}
.text-9 {
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 199px;
  width: 523px;
}
.thng-tin-lin-h {
  height: 52px;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 155px;
  width: 295px;
}
.title {
  cursor: pointer;
  left: 21px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 157px;
}
.vector {
  height: 12px;
  left: 43px;
  position: absolute;
  top: 92px;
  width: 2px;
}
.vector-1 {
  height: 519px;
  left: 272px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.vector-10 {
  height: 10px;
  left: 97px;
  position: absolute;
  top: 155px;
  width: 25px;
}
.vector-100 {
  height: 17px;
  left: 159px;
  position: absolute;
  top: 106px;
  width: 16px;
}
.vector-101 {
  height: 35px;
  left: 76px;
  position: absolute;
  top: 50px;
  width: 50px;
}
.vector-102 {
  height: 5px;
  left: 44px;
  position: absolute;
  top: 146px;
  width: 5px;
}
.vector-103 {
  height: 5px;
  left: 235px;
  position: absolute;
  top: 64px;
  width: 5px;
}
.vector-104 {
  height: 8px;
  left: 33px;
  position: absolute;
  top: 112px;
  width: 4px;
}
.vector-105 {
  height: 5px;
  left: 70px;
  position: absolute;
  top: 138px;
  width: 23px;
}
.vector-106 {
  height: 14px;
  left: 67px;
  position: absolute;
  top: 103px;
  width: 14px;
}
.vector-107 {
  height: 15px;
  left: 108px;
  position: absolute;
  top: 18px;
  width: 123px;
}
.vector-108 {
  height: 5px;
  left: 84px;
  position: absolute;
  top: 97px;
  width: 24px;
}
.vector-109 {
  height: 48px;
  left: 34px;
  position: absolute;
  top: 199px;
  width: 15px;
}
.vector-11 {
  height: 67px;
  left: 126px;
  position: absolute;
  top: 107px;
  width: 49px;
}
.vector-110 {
  height: 99px;
  left: 39px;
  position: absolute;
  top: 66px;
  width: 83px;
}
.vector-111 {
  height: 20px;
  left: 63px;
  position: absolute;
  top: 161px;
  width: 35px;
}
.vector-112 {
  height: 17px;
  width: 18px;
}
.vector-113 {
  height: 54px;
  left: 0px;
  position: absolute;
  top: 114px;
  width: 91px;
}
.vector-114 {
  height: 23px;
  left: 85px;
  position: absolute;
  top: 104px;
  width: 28px;
}
.vector-115 {
  height: 3px;
  left: 180px;
  position: absolute;
  top: 29px;
  width: 2px;
}
.vector-116 {
  height: 6px;
  left: 58px;
  position: absolute;
  top: 108px;
  width: 7px;
}
.vector-117 {
  height: 100px;
  left: 45px;
  position: absolute;
  top: 66px;
  width: 72px;
}
.vector-118 {
  height: 23px;
  left: 48px;
  position: absolute;
  top: 104px;
  width: 27px;
}
.vector-119 {
  height: 8px;
  left: 58px;
  position: absolute;
  top: 111px;
  width: 10px;
}
.vector-12 {
  height: 3px;
  left: 60px;
  position: absolute;
  top: 84px;
  width: 4px;
}
.vector-120 {
  height: 7px;
  left: 115px;
  position: absolute;
  top: 5px;
  width: 7px;
}
.vector-121 {
  height: 19px;
  left: 88px;
  position: absolute;
  top: 105px;
  width: 18px;
}
.vector-122 {
  height: 68px;
  left: 125px;
  position: absolute;
  top: 107px;
  width: 50px;
}
.vector-123 {
  height: 8px;
  left: 43px;
  position: absolute;
  top: 129px;
  width: 4px;
}
.vector-124 {
  height: 6px;
  left: 92px;
  position: absolute;
  top: 108px;
  width: 7px;
}
.vector-125 {
  height: 39px;
  left: 31px;
  position: absolute;
  top: 50px;
  width: 95px;
}
.vector-126 {
  height: 23px;
  left: 120px;
  position: absolute;
  top: 157px;
  width: 15px;
}
.vector-13 {
  height: 17px;
  left: 4px;
  position: absolute;
  top: 9px;
  width: 18px;
}
.vector-14 {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 61px;
  width: 5px;
}
.vector-15 {
  height: 36px;
  left: 30px;
  position: absolute;
  top: 52px;
  width: 50px;
}
.vector-16 {
  height: 8px;
  left: 92px;
  position: absolute;
  top: 111px;
  width: 9px;
}
.vector-17 {
  height: 72px;
  left: 35px;
  position: absolute;
  top: 58px;
  width: 90px;
}
.vector-18 {
  height: 16px;
  left: 27px;
  position: absolute;
  top: 108px;
  width: 105px;
}
.vector-19 {
  height: 3px;
  left: 117px;
  position: absolute;
  top: 79px;
  width: 3px;
}
.vector-2 {
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 27px;
}
.vector-20 {
  height: 53px;
  left: 178px;
  position: absolute;
  top: 104px;
  width: 91px;
}
.vector-21 {
  height: 8px;
  left: 123px;
  position: absolute;
  top: 112px;
  width: 4px;
}
.vector-22 {
  height: 3px;
  left: 38px;
  position: absolute;
  top: 80px;
  width: 12px;
}
.vector-23 {
  height: 5px;
  left: 65px;
  position: absolute;
  top: 43px;
  width: 5px;
}
.vector-24 {
  height: 5px;
  left: 18px;
  position: absolute;
  top: 162px;
  width: 5px;
}
.vector-25 {
  height: 3px;
  left: 62px;
  position: absolute;
  top: 115px;
  width: 3px;
}
.vector-26 {
  height: 6px;
  left: 64px;
  position: absolute;
  top: 69px;
  width: 7px;
}
.vector-27 {
  height: 16px;
  left: 108px;
  position: absolute;
  top: 99px;
  width: 22px;
}
.vector-28 {
  height: 7px;
  left: 75px;
  position: absolute;
  top: 125px;
  width: 10px;
}
.vector-29 {
  height: 40px;
  left: 125px;
  position: absolute;
  top: 121px;
  width: 42px;
}
.vector-3 {
  height: 18px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 26px;
}
.vector-30 {
  height: 95px;
  left: 49px;
  position: absolute;
  top: 161px;
  width: 81px;
}
.vector-31 {
  height: 41px;
  left: 66px;
  position: absolute;
  top: 49px;
  width: 61px;
}
.vector-32 {
  height: 7px;
  left: 112px;
  position: absolute;
  top: 72px;
  width: 6px;
}
.vector-33 {
  height: 1px;
  left: 62px;
  position: absolute;
  top: 160px;
  width: 1px;
}
.vector-34 {
  height: 65px;
  left: 36px;
  position: absolute;
  top: 59px;
  width: 88px;
}
.vector-35 {
  height: 5px;
  left: 75px;
  position: absolute;
  top: 121px;
  width: 10px;
}
.vector-36 {
  height: 25px;
  left: 47px;
  position: absolute;
  top: 103px;
  width: 29px;
}
.vector-37 {
  height: 19px;
  left: 54px;
  position: absolute;
  top: 105px;
  width: 18px;
}
.vector-38 {
  height: 16px;
  left: 133px;
  position: absolute;
  top: 23px;
  width: 73px;
}
.vector-39 {
  height: 17px;
  left: 67px;
  position: absolute;
  top: 73px;
  width: 24px;
}
.vector-4 {
  height: 8px;
  left: 25px;
  position: absolute;
  top: 192px;
  width: 28px;
}
.vector-40 {
  height: 3px;
  left: 73px;
  position: absolute;
  top: 111px;
  width: 14px;
}
.vector-41 {
  height: 4px;
  left: 58px;
  position: absolute;
  top: 75px;
  width: 5px;
}
.vector-42 {
  height: 3px;
  left: 43px;
  position: absolute;
  top: 70px;
  width: 6px;
}
.vector-43 {
  height: 211px;
  left: 107px;
  position: absolute;
  top: 18px;
  width: 125px;
}
.vector-44 {
  height: 53px;
  left: 56px;
  position: absolute;
  top: 19px;
  width: 92px;
}
.vector-45 {
  height: 25px;
  left: 119px;
  position: absolute;
  top: 156px;
  width: 17px;
}
.vector-46 {
  height: 6px;
  left: 43px;
  position: absolute;
  top: 84px;
  width: 2px;
}
.vector-47 {
  height: 6px;
  left: 42px;
  position: absolute;
  top: 79px;
  width: 15px;
}
.vector-48 {
  height: 2px;
  left: 103px;
  position: absolute;
  top: 60px;
  width: 4px;
}
.vector-49 {
  height: 8px;
  left: 243px;
  position: absolute;
  top: 93px;
  width: 8px;
}
.vector-5 {
  height: 3px;
  left: 95px;
  position: absolute;
  top: 54px;
  width: 2px;
}
.vector-50 {
  height: 25px;
  left: 84px;
  position: absolute;
  top: 103px;
  width: 29px;
}
.vector-51 {
  height: 53px;
  left: 175px;
  position: absolute;
  top: 183px;
  width: 92px;
}
.vector-52 {
  height: 3px;
  left: 156px;
  position: absolute;
  top: 29px;
  width: 23px;
}
.vector-53 {
  height: 4px;
  left: 30px;
  position: absolute;
  top: 114px;
  width: 6px;
}
.vector-54 {
  height: 5px;
  left: 52px;
  position: absolute;
  top: 97px;
  width: 24px;
}
.vector-55 {
  height: 10px;
  left: 87px;
  position: absolute;
  top: 115px;
  width: 20px;
}
.vector-56 {
  height: 16px;
  left: 29px;
  position: absolute;
  top: 99px;
  width: 22px;
}
.vector-57 {
  height: 26px;
  left: 50px;
  position: absolute;
  top: 140px;
  width: 70px;
}
.vector-58 {
  height: 18px;
  left: 41px;
  position: absolute;
  top: 69px;
  width: 33px;
}
.vector-59 {
  height: 1px;
  left: 59px;
  position: absolute;
  top: 157px;
  width: 1px;
}
.vector-6 {
  height: 79px;
  left: 38px;
  position: absolute;
  top: 65px;
  width: 85px;
}
.vector-60 {
  height: 95px;
  left: 29px;
  position: absolute;
  top: 162px;
  width: 101px;
}
.vector-61 {
  height: 4px;
  left: 80px;
  position: absolute;
  top: 53px;
  width: 14px;
}
.vector-62 {
  height: 8px;
  left: 71px;
  position: absolute;
  top: 75px;
  width: 4px;
}
.vector-63 {
  height: 49px;
  left: 33px;
  position: absolute;
  top: 198px;
  width: 3px;
}
.vector-64 {
  height: 16px;
  left: 27px;
  position: absolute;
  top: 108px;
  width: 13px;
}
.vector-65 {
  height: 15px;
  left: 116px;
  position: absolute;
  top: 108px;
  width: 15px;
}
.vector-66 {
  height: 8px;
  left: 84px;
  position: absolute;
  top: 76px;
  width: 16px;
}
.vector-67 {
  height: 14px;
  left: 137px;
  position: absolute;
  top: 24px;
  width: 68px;
}
.vector-68 {
  height: 14px;
  left: 134px;
  position: absolute;
  top: 24px;
  width: 71px;
}
.vector-69 {
  height: 201px;
  left: 113px;
  position: absolute;
  top: 23px;
  width: 113px;
}
.vector-7 {
  height: 4px;
  left: 124px;
  position: absolute;
  top: 114px;
  width: 6px;
}
.vector-70 {
  height: 9px;
  left: 72px;
  position: absolute;
  top: 32px;
  width: 10px;
}
.vector-71 {
  height: 105px;
  left: 27px;
  position: absolute;
  top: 152px;
  width: 104px;
}
.vector-72 {
  height: 24px;
  left: 70px;
  position: absolute;
  top: 152px;
  width: 45px;
}
.vector-73 {
  height: 18px;
  left: 26px;
  position: absolute;
  top: 107px;
  width: 107px;
}
.vector-74 {
  height: 5px;
  left: 49px;
  position: absolute;
  top: 87px;
  width: 10px;
}
.vector-75 {
  height: 7px;
  left: 166px;
  position: absolute;
  top: 231px;
  width: 8px;
}
.vector-76 {
  height: 10px;
  left: 53px;
  position: absolute;
  top: 115px;
  width: 20px;
}
.vector-77 {
  height: 58px;
  left: 133px;
  position: absolute;
  top: 117px;
  width: 43px;
}
.vector-78 {
  height: 18px;
  left: 64px;
  position: absolute;
  top: 162px;
  width: 33px;
}
.vector-79 {
  height: 17px;
  left: 4px;
  position: absolute;
  top: 56px;
  width: 18px;
}
.vector-8 {
  height: 98px;
  left: 111px;
  position: absolute;
  top: 123px;
  width: 59px;
}
.vector-80 {
  height: 100px;
  left: 77px;
  position: absolute;
  top: 66px;
  width: 45px;
}
.vector-81 {
  height: 9px;
  left: 237px;
  position: absolute;
  top: 53px;
  width: 11px;
}
.vector-82 {
  height: 32px;
  left: 30px;
  position: absolute;
  top: 55px;
  width: 41px;
}
.vector-83 {
  height: 5px;
  left: 102px;
  position: absolute;
  top: 67px;
  width: 10px;
}
.vector-84 {
  height: 10px;
  left: 24px;
  position: absolute;
  top: 191px;
  width: 29px;
}
.vector-85 {
  height: 18px;
  left: 77px;
  position: absolute;
  top: 161px;
  width: 20px;
}
.vector-86 {
  cursor: pointer;
  height: 33px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 34px;
}
.vector-87 {
  height: 10px;
  left: 43px;
  position: absolute;
  top: 92px;
  width: 5px;
}
.vector-88 {
  height: 99px;
  left: 39px;
  position: absolute;
  top: 66px;
  width: 37px;
}
.vector-89 {
  height: 48px;
  left: 41px;
  position: absolute;
  top: 199px;
  width: 8px;
}
.vector-9 {
  height: 9px;
  left: 36px;
  position: absolute;
  top: 72px;
  width: 6px;
}
.vector-90 {
  height: 17px;
  margin-top: 1.0px;
  width: 18px;
}
.vector-91 {
  height: 54px;
  left: 178px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.vector-92 {
  height: 10px;
  left: 149px;
  position: absolute;
  top: 235px;
  width: 11px;
}
.vector-93 {
  height: 200px;
  left: 114px;
  position: absolute;
  top: 24px;
  width: 112px;
}
.vector-94 {
  height: 209px;
  left: 108px;
  position: absolute;
  top: 19px;
  width: 123px;
}
.vector-95 {
  height: 3px;
  left: 75px;
  position: absolute;
  top: 82px;
  width: 11px;
}
.vector-96 {
  height: 199px;
  left: 113px;
  position: absolute;
  top: 24px;
  width: 113px;
}
.vector-97 {
  height: 20px;
  left: 74px;
  position: absolute;
  top: 111px;
  width: 7px;
}
.vector-98 {
  height: 3px;
  left: 96px;
  position: absolute;
  top: 115px;
  width: 3px;
}
.vector-99 {
  height: 4px;
  left: 49px;
  position: absolute;
  top: 59px;
  width: 7px;
}
